body {
    background-image: linear-gradient(to right top, #f7b2d9, #e8aedf, #d6ace4, #c1aae8, #a9a9e9, #96b1f1, #81b8f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form {
    width: 400px;
    margin:0 auto 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input {
    font: 1em sans-serif;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}